.Counter {
  min-width: 300px;
  height: 300px;
  font-size: 160px;
  padding: 25px;
  color: ghostwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid ghostwhite;
  border-radius: 12px;
  margin-bottom: 15px;
}